@font-face {
    font-family: AssistantEB;
    src: url(../font/AssistantEB.ttf);

}

@font-face {
    font-family: AvenirLight;
    src: url(../font/AvenirLight.otf);

}

@font-face {
    font-family: DINLight;
    src: url(../font/DINLight.otf);
}

@font-face {
    font-family: DosisEB;
    src: url(../font/DosisEB.ttf);

}

@font-face {
    font-family: AlteDIN;
    src: url(../font/AlteDIN.ttf);

}

@font-face {
    font-family: WireOne;
    src: url(../font/WireOne.ttf);

}



/* change the background color */

.navbar-custom {
    background-color: #fffff;
    padding: 0;
    font-size: 18px;
}

/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #2b6ca3;
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: #2b6ca3;
    padding: 20px 62.8px 20px 62.8px;
}

/* change the background color */

.navbar-custom .navbar-nav .nav-item {
    background-color: #fffff;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-custom .nav-item.active .nav-link {
    background-color: #2b6ca3;
}

.navbar-custom .nav-item:hover {
    background-color: #2b6ca3;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

nav {
    border-top: 3px solid;
    border-top-color: #2b6ca3;
    border-bottom: 3px solid;
    border-bottom-color: #2b6ca3;

}

.container-fluid {
    padding: 0;
}

/* Changes position of caption */

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.tales {
    width: 100%;
}

.carousel-indicators li {
    border-radius: 5px;
}

/*
Forces image to be 100% width and not max width of 100%
*/

.carousel-item .img-fluid {
    width: 100%;
}

.btn-round {
    border-radius: 50px;
    font-size: 30px;
    background-color: rgba(43, 104, 156, 0.3);
    border-color: #11ffee00;
    box-shadow: 0px 1px 3px #000;
    font-family: "DosisEB", "Arial";
}

.center {
    text-align: center;
    margin: auto;

}

.p {
    text-align: justify;
}

.redLeft {
    border-left: 9px solid #ff3600;
    padding-left: 10px;
}

.chevron {
    border-left: 15px solid #ff3600;
    border-right: 15px solid #ff3600;
    border-radius: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonS {
    border-radius: 20px 0px;
    border-color: rgb(255, 64, 0);
    background-color: rgb(255, 64, 0);
    font-size: 25px;
    font-family: "AssistantEB", "Arial Black";
    font-style: italic;
    border-width: 0px 20px;

    letter-spacing: 0.15em;
    color: white;

}

#ancres td {
    padding-left: 4em;
    padding-right: 4em;
}

#ancres a:hover {
    border-color: rgb(252, 161, 3);
    background-color: rgb(252, 161, 3);
    color: white;
}

a:focus {
    color: white;
}

.fixe {
    width: 10px;
}

/* 
anchors are inline so you need ot make them block to go full width
*/

.carousel-item a {
    display: block;
    width: 100%;
}

#carousel h2 {
    font-size: 110px;
    font-family: "AssistantEB", "Arial Black";
    letter-spacing: 0.2em;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

#entete h2 {
    text-align: center;
    font-size: 40px;
    font-family: "DINLight", "Arial";
    margin-top: 50px;
    font-weight: bold;

}

#entete p {
    text-align: justify;
    font-size: 26px;
    font-family: "DINLight", "Arial Black";
}

#caption h2 {
    font-family: "AssistantEB", "Arial";
    font-size: 100px;
    letter-spacing: 0.2em;
    margin-top: 0.6em;
}

.texteG {
    text-align: left;
}

.texteD {
    text-align: right;
}

.texteD {
    text-align: left;
}

.texteM {
    text-align: center;
}

.texte {
    font-family: "DINLight", "Arial Black";
    margin-bottom: 50px;
}

.texte h3 {

    font-weight: bold;
    font-size: 29px;
}

.grandTexte h3 {

    font-weight: bold;
    font-size: 50px;
}

.texte p {
    font-size: 19px;
    text-align: justify;
}

h1 {
    margin-top: 0.9em;
    font-size: 120px;
    font-family: "AssistantEB", "Arial Black";
    color: rgb(96, 94, 94);
    letter-spacing: 0.15em;

}

.marginBot {
    margin-bottom: 3em;
}

.marginTop {
    margin-top: 5em;
}

.chevronDroit {
    margin-left: 30px;
}


h4 {
    font-size: 120px;
}

.remplirEcran {
    width: -webkit-fill-available;
}

.buttonS:hover {
    border-color: rgb(252, 161, 3);
    background-color: rgb(252, 161, 3);
    color: white;
}



#carousel p {
    font-size: 44px;
    font-family: "AvenirLight", "Arial";
    letter-spacing: 0.2em;
}

@media screen and (max-width: 1280px) {

    /* Changes position of caption */
    .carousel-caption {
        top: 5%;
        bottom: auto;

    }
    



    .credit {
        /*Texte footer*/
        font-size: 10px;
        font-family: "DINLight", "Arial Black";
        text-align: center;
        color: DarkGrey;

    }

    #caption h2 {
        text-align: center;
        font-size: 40px;
        font-family: "AssistantEB", "Arial";
        margin-top: 230px;
        font-weight: bold;

    }
    
    #special{
        font-size: 20px;
    }

    .imageRight {
        text-align: center;
    }

    .imageLeft {
        display: none;
    }

    .imageLeftHidden {
        display: inherit;
        text-align: center;
    }

    .titre {
        text-align: center;
    }

    h1 {

        font-size: 30px;
    }
}


@media screen and (max-width: 1000px) {
    .carousel-caption {
        top: 40%;
        bottom: auto;

    }
}
