.alAncre{
	
	display: inline;
	
}

.alAncreT{
	
	margin-left:-27%;
	
}

@font-face {
    font-family: AssistantEB;
    src: url(../font/AssistantEB.ttf);

}

@font-face {
    font-family: AvenirLight;
    src: url(../font/AvenirLight.otf);

}

@font-face {
    font-family: DosisEB;
    src: url(../font/DosisEB.ttf);

}

/* change the background color */

.navbar-custom {
    background-color: #fffff;
    padding: 0;
    font-size: 18px;
}

/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #2b6ca3;
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: #2b6ca3;
    padding: 20px 62.8px 20px 62.8px;
}

/* change the background color */

.navbar-custom .navbar-nav .nav-item {
    background-color: #fffff;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-custom .nav-item.active .nav-link {
    background-color: #2b6ca3;
}

.navbar-custom .nav-item:hover {
    background-color: #2b6ca3;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

nav {
    border-top: 3px solid;
    border-top-color: #2b6ca3;
    border-bottom: 3px solid;
    border-bottom-color: #2b6ca3;

}

.container-fluid {
    padding: 0;
}

/* Changes position of caption */

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.tales {
    width: 100%;
}

.carousel-indicators li {
    border-radius: 5px;
}

/*
Forces image to be 100% width and not max width of 100%
*/

.carousel-item .img-fluid {
    width: 100%;
}

.btn-round {
    border-radius: 50px;
    font-size: 30px;
    background-color: rgba(43, 104, 156, 0.3);
    border-color: #11ffee00;
    box-shadow: 0px 1px 3px #000;
    font-family: "DosisEB", "Arial";
}

/* 
anchors are inline so you need ot make them block to go full width
*/

.carousel-item a {
    display: block;
    width: 100%;
}

#carousel h2 {
    font-size: 110px;
    font-family: "AssistantEB", "Arial Black";
    letter-spacing: 0.2em;
    text-shadow: 2px 2px #000000;
    text-align: center;
}

#carousel p {
    font-size: 44px;
    font-family: "AvenirLight", "Arial";
    letter-spacing: 0.2em;
}

@media all and (min-width: 200px) and (max-width:500px) {
    #carousel h2 {
        font-size: 40px;
        font-family: "AssistantEB", "Arial Black";
        letter-spacing: 0.2em;
        text-shadow: 2px 2px #000000;
    }
    #carousel p {
        font-size: 30px;

    }
    .btn-round {
        font-size: 15px;
    }
}

@media all and (min-width: 200px) and (max-width: 1200px) {
    .navbar-custom {
        background-color: #fffff;
        padding: 0;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
    }
    .navbar-custom .navbar-nav .nav-link {
        color: #2b6ca3;
        padding: 20px 54.4px 20px 54.4px;
    }
<<<<<<< HEAD

}

@media all and (min-width: 500px) and (max-width: 1000px) {
    #carousel h2 {
        font-size: 60px;
        font-family: "AssistantEB", "Arial Black";
        letter-spacing: 0.2em;
        text-shadow: 2px 2px #000000;
    }

}

}
=======
}

.row
{
  vertical-align:top;
  display:inline-block;
}
>>>>>>> e0da42d2eaa3f55f85ef1b7f8a670268edde00cb
